body {
    background: #F0F0F0 url(/images/tile.gif) repeat -70% 0;
    font: 12px/22px Tahoma,Geneva,sans-serif;
}
* {
    margin: 0;
    padding: 0;
}
img {
    border: none;
}
#page {
    width: 600px;
    margin: 60px auto 0 auto;
    background: black;
}
#subtitle {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    height: 50px;
    line-height: 50px;
    color: black;
}
